*{
    background-color: rgba(235,245,255,1);
}

.content_box {
    border: 2px solid black;
    height: 750px;
    width: 60%;
    margin-left: 20%;
    margin-block-end: 5%;
    /*text-align: left; isn't needed since text is set to 50% width*/
    position: relative;

}
.gen_copy{
    border: 2px solid blue;

    position: relative;
    width: 48%;
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgba(0,0,0,1);
    
}
.gen_header{
    border: 2px solid blue;

    width:64%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgba(200, 100, 100);

    /*the following code was necessary to overlay the header to the box*/
    background-color: rgba(0,0,0,0);
    position: relative;
    z-index: 1; /*z index allows the elements to be ordered in 3d space, like cards*/
}




#welcome{
    font-size: 96px;
}

#welcome_box{
    width: 50%;
    height: 100%;
    border-radius: 4%;
    background-color: rgba(187, 142, 224, .5);    
    /*the following code was needed to overlay the header to the box*/
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;

}